* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 40px;
	text-align: center;
	color: fuchsia;
}
	
	#thereminContainer {
		position: relative;
		background-color: white;
		width: 100%;
		height: 500px;

			#theremin {
				width: 100%;
				height: 500px;
			}

			#theremin:hover {
				cursor: crosshair;

			}

			#antennaContainer{
				position: absolute;
				bottom: 0;
				left: 5%;

					#antenna {
						background: gray;
					    width: 10px;
					    height: 200px;
					    border-radius: 25%;
					}

					#antennaTop {
						background: gray;
					    border-radius: 50%;
					    width: 10px;
					    height: 14px;

					}
			}

	}

	#moogContainer {
		display: flex;
		width: 50%;
	

			#sidePanel1 {
				background-color: brown;
			    width: 200px;
			    height: 50px;
			    flex: 0.5;
			}

			#controlPanelContainer {
				background-color: black;
			    width: 200px;
			    height: 50px;
			    flex: 1;

			    	.knob {
			    		
			    		background: gray;
					    border-radius: 50%;
					    width: 10px;
					    height: 10px;
					    padding: 2%;
					    margin-left: 2%;
					    margin-top: 2%;
					    display: inline-block;
					}

			}


			#sidePanel2 {
			    background-color: brown;
			    width: 200px;
			    height: 50px;
			    flex: 0.5;


			}

	}

	#volumeAntenna {

		position: absolute;
	    bottom: -1%;
	    left: 50%;
	    background: white;
	    border: 5px solid gray;
	    border-left: none;
	    border-radius: 46%;
	    width: 10%;
	    height: 50px;
	}

	#stand {

			position: absolute;
		    left: 24%;
		    background: black;
		    width: 10px;
		    height: 80px;


	}
